
.dropdown-menu {
	border-radius:0;
	border:none;
	box-shadow:0 4px 8px rgba(41,42,51,.24)
}
.dropdown-component.box-style>div>button {
	border:1px solid #d5d9dd
}
.dropdown-component .btn {
	color:#333;
	font-weight:500;
	font-size:14px
}
.dropdown-component .dropdown .dropdown-toggle {
	float:right
}
.dropdown-component .dropdown .dropdown-toggle:disabled {
	cursor:default
}
.dropdown-component .dropdown-menu {
	min-width:8rem
}
.dropdown-component .dropdown-menu .group-item:not(:first-child) {
	margin-top:8px;
	padding-top:16px;
	border-top:1px solid #e9ecf0
}
.dropdown-component .dropdown-menu #dropdown-basic-button,.dropdown-component .dropdown-menu .dropdown-item {
	font-size:14px;
	color:#333
}
.dropdown-component .dropdown-menu .dropdown-item:hover {
	background-color:#d5eefc
}
.dropdown-component .dropdown-menu .dropdown-item.disabled {
	color:#899aad
}
.dropdown-component .dropdown-toggle:after {
	margin-left:8px
}
.dropdown-component.dropdown-hide-arrow .dropdown>button:after {
	display:none
}

.dropdown-date-range-picker-component .date-range-dropdown {
	height:40px;
	background-color:#fff;
	border:1px solid #d5d9dd;
	display:flex;
	align-items:center
}
.dropdown-date-range-picker-component .date-range-dropdown img {
	padding-right:8px
}
.dropdown-date-range-picker-component .date-range-dropdown:after {
	margin-left:8px
}
.dropdown-date-range-picker-component>button.blue-box {
	border-color:#a7dfff
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left.calendar-shown {
	left:-422px
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left.calendar-shown .submit-button-container .submit-button {
	float:right;
	padding:6px 16px;
	margin:0 16px 16px;
	font-weight:600;
	font-size:14px
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left {
	left:-22px
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .option-items-container .option-item:hover {
	background-color:#e8f2f6
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .option-items-container .option-item {
	height:32px;
	width:265px;
	justify-content:space-between;
	padding:0 16px;
	cursor:pointer
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .option-items-container .option-item .option-item-label {
	font-size:14px;
	color:#333;
	font-weight:400
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .option-items-container .option-item .option-item-value {
	font-size:12px;
	color:#64717e;
	font-weight:400
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDateDisplayWrapper {
	display:none
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrMonthAndYearWrapper {
	padding-top:0;
	height:-webkit-min-content;
	height:-moz-min-content;
	height:min-content
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrMonthName {
	font-weight:500;
	font-size:16px;
	color:#333
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDay.rdrDayDisabled {
	background-color:transparent;
	opacity:.5;
	cursor:default
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDay.rdrDayDisabled span {
	color:#d5d9dd;
	font-size:16px;
	font-weight:400
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDay.rdrDayPassive {
	opacity:0
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDay .rdrDayNumber span {
	color:#333;
	font-size:16px;
	font-weight:400
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDay .rdrEndEdge,.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDay .rdrStartEdge {
	background-color:#007ea7
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDay .rdrEndEdge+.rdrDayNumber>span,.dropdown-date-range-picker-component .dropdown-menu.drop-down-left .rdrDay .rdrStartEdge+.rdrDayNumber>span {
	color:#fff
}
@media only screen and (min-width:576px) and (max-width:768px) {
	.dropdown-date-range-picker-component .dropdown-menu.drop-down-left.calendar-shown {
	left:-6rem
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left.calendar-shown .rdrMonths.rdrMonthsHorizontal {
	flex-direction:column
}
}@media only screen and (max-width:576px) {
	.dropdown-date-range-picker-component .dropdown-menu.drop-down-left.calendar-shown {
	left:-3rem
}
.dropdown-date-range-picker-component .dropdown-menu.drop-down-left.calendar-shown .rdrMonths.rdrMonthsHorizontal {
	flex-direction:column
}
}.dropdown-date-range-picker-component .dropdown-menu-shown {
	display:block!important
}
.widget-section-container {
	padding:36px 24px 24px
}
.flex-center {
	display:flex;
	justify-content:center;
	align-items:center
}

}
.single-scan-component .search-container .settings-container {
	padding:24px;
	transition:height .3s,padding .3s
}
.single-scan-component .search-container .settings-container .setting-field .settings-label {
	min-width:140px;
	padding-right:24px
}
.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container {
	flex:1 1
}
.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown {
	max-width:100%;
	background-color:#fff
}
.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown {
	width:100%;
	max-width:100%
}
.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown button {
	width:100%;
	max-width:55vw;
	text-align:right;
	color:#899aad;
	font-size:16px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:break-word
}
@media only screen and (min-width:1200px) {
	.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown button {
	max-width:760px
}
}@media only screen and (max-width:992px) {
	.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown button {
	max-width:calc(100vw - 96px)
}
}.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown .dropdown-menu {
	overflow:scroll
}
.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown .dropdown-menu .dropdown-item {
	max-width:55vw
}
@media only screen and (min-width:1200px) {
	.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown .dropdown-menu .dropdown-item {
	max-width:760px
}
}@media only screen and (max-width:992px) {
	.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown .dropdown-menu .dropdown-item {
	max-width:calc(100vw - 96px)
}
}.single-scan-component .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .drop-down-option:hover {
	text-decoration:underline
}
.single-scan-component .search-container .settings-container .setting-field .user-agent-input-container {
	flex:1 1
}
.single-scan-component .search-container .settings-container .setting-field .user-agent-input-container .user-agent-input {
	height:40px;
	border:none;
	padding-left:16px;
	color:#111
}
.single-scan-component .search-container .settings-container .setting-field .help-text {
	font-size:12px;
	color:#899aad;
	padding-top:8px
}
.single-scan-component .search-container .settings-container .setting-field .visibility-switch-container .custom-control-input:checked~.custom-control-label:before {
	border-color:#4479f3;
	background-color:#4479f3
}
.single-scan-component .search-container .settings-container .setting-field .visibility-switch-container .custom-control-label {
	color:#111;
	font-size:16px
}
.single-scan-component .search-container .settings-container.height-0 {
	padding:0 24px;
	height:0;
	overflow:hidden
}
.scan-section .single-scan-component .search-container .search-bar .search-text-field {
	border-color:#fff
}
.single-scan-component .search-container .search-bar .search-text-field {
	height:60px;
	flex:1 1;
	border:2px solid #d3e1f9;
	font-size:16px;
	padding:0 24px
}
.single-scan-component .search-container .search-bar .search-text-field.small {
	height:35px;
	border:2px solid #4479f3;
	border-right:0;
	outline:0
}
.single-scan-component.horizontal .search-container .search-bar .search-text-field {
	border-color:#fff
}
.single-scan-component .search-container .search-bar .search-bar-button {
	cursor:pointer;
	height:60px;
	min-width:60px
}
.single-scan-component .search-container .search-bar .search-bar-button.small {
	height:35px
}
.single-scan-component .search-container .search-bar .submit-button {
	background-color:#4479f3
}
@media only screen and (min-width:992px) {
	.single-scan-component .search-container .search-bar .submit-button {
	min-width:110px
}
}.single-scan-component .search-container .search-bar .submit-button .scan-image {
	width:24px
}
.change-password-page .submit-button {
	margin-top:24px
}
.auth-page-wrapper .bottom-component .submit-button {
	background:#4479f3;
	color:#fff
}
single-scan-component.horizontal .search-container .settings-container {
	padding-right:0
}

.single-scan-component.horizontal .search-container .settings-container {
	padding-right:0
}
.single-scan-component.horizontal .search-container .settings-container .setting-field .user-agent-dropdown-container .user-agent-dropdown .dropdown button {
	max-width:40vw
}
.scan-section .single-scan-component .type-buttons .type-button {
	border-bottom-width:0
}
.scan-section .single-scan-component .type-button {
	border:2px solid transparent;
	border-right-width:0;
	color:#899aad
}
.scan-section .single-scan-component .type-button.active {
	border:solid #fff;
	border-width:2px 2px 0
}
.single-scan-component .type-buttons .type-button {
	height:60px;
	width:-webkit-max-content;
	width:-moz-max-content;
	width:max-content;
	border:2px solid transparent;
	cursor:pointer;
	font-weight:500;
	font-size:14px;
	color:#899aad;
	line-height:40px;
	padding:0 24px
}

@media only screen and (max-width:576px) {
	.single-scan-component .type-buttons .type-button {
	padding:0 16px
}
}.single-scan-component .type-buttons .type-button.active {
	color:#4479f3;
	border:solid #d3e1f9;
	border-width:2px 2px 0
}
.single-scan-component.horizontal .type-buttons .type-button {
	border:2px solid transparent;
	border-right-width:0;
	color:#899aad
}
.single-scan-component.horizontal .type-buttons .type-button.active {
	border:2px solid #fff;
	border-right-width:0;
	color:#4479f3
}
.single-scan-component.horizontal .type-buttons .type-button:first-child {
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	border:2px solid #fff;
	border-right-width:0
}
.single-scan-component.horizontal .type-buttons .type-button:nth-child(2) {
	border:2px solid #fff
}
.SubmitButton:active {
	background-color:#5586f7;
	box-shadow:0 6px 9px rgba(50,50,93,.06),0 2px 5px rgba(0,0,0,.08),inset 0 1px 0 #5586f7;
	transform:scale(.99)
}
.SubmitButton.SubmitButton--error {
	transform:translateY(15px)
}
.SubmitButton.SubmitButton--error:active {
	transform:scale(.99) translateY(15px)
}
.status-component div.active {
	background-color:#ffa25f
}
.single-scan-component {
	flex-direction:column
}

.single-scan-component .search-container {
	flex:1 1
}



.single-scan-component .search-container .search-bar .settings-button {
	background-color:hsla(0,0%,80%,.8)
}
@media only screen and (min-width:992px) {
	.single-scan-component.horizontal {
	max-width:1200px;
	margin:auto;
	padding:36px 0;
	flex-direction:row
}

.single-scan-component.horizontal .search-container {
	flex:1 1
}